@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

// ---------VARIABLES--------------
// Colors
$blue: #2b9be2;
$lightGray: #e4e4e4;
$gray: rgb(201, 201, 201);
$darkGray: #363636;
$white: #fff;
$offWhite: #fafafa;
$lightBlue: #55b5f1;
$superLightBlue: #e5ecf1;
$softBlue: #bcdff5;

$bodyBgColor: $superLightBlue;

// Transitions
$transitionFast: 0.1s;
$tarnsitionNormal: 0.3s;
$transitioinSlow: 0.45s;

* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	font: 1rem/1.5 "Varela Round", sans-serif;
	-webkit-font-smoothing: antialised;
	-moz-osx-font-smoothing: grayscale;
	background-color: $bodyBgColor;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.container {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
}

h1,
h2 {
	line-height: 1;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 1.3rem;
}
p {
	line-height: 1.5;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}
::-webkit-input-placeholder {
	color: $gray;
}
::-moz-placeholder {
	color: $gray;
}
:-ms-input-placeholder {
	color: $gray;
}

.content {
	flex: 1 0 auto;
}

// ------FORM---------
.form-wrapper {
	background: $offWhite;
	color: $darkGray;
}

// Left
.form-left {
	background: $blue;
	color: $softBlue;
	padding: 2em;
	.perks-box {
		text-align: center;
		& + .perks-box {
			margin-top: 50px;
		}
		&:first-child {
			margin-top: 16px;
		}
		h2 {
			color: $offWhite;
		}
		i {
			display: inline-block;
			font-size: 0.9rem;
			background: $lightBlue;
			padding: 0.7em;
			border-radius: 50%;
		}
	}
}

// Right
.form-right {
	padding: 2em 1em;
	h1 {
		text-align: center;
		margin-bottom: 40px;
	}
}
.input-box {
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	& + .input-box {
		margin-top: 27px;
	}
	input {
		width: 100%;
		height: 46px;
		display: block;
		border: 1px solid $lightGray;
		outline: 0;
		border-radius: 6px;
		text-indent: 10px;
		color: $darkGray;
		font-size: 1rem;
		&:focus {
			border-color: $softBlue;
			box-shadow: 0 0 4px $gray;
		}
	}
	label {
		display: block;
		margin-bottom: 3px;
		font: {
			size: 0.8rem;
			weight: 800;
		}
	}
}
.input-box.input-box__checkbox {
	width: 100%;
	max-width: 450px;
	margin: 30px auto 30px;
	display: flex;
	align-items: center;
	input {
		display: inline-block;
		-webkit-appearance: none;
		appearance: none;
		border: 1px solid $lightGray;
		border-radius: 4px;
		outline: 0;
		width: 20px;
		height: 20px;
		position: relative;
		margin-right: 7px;
		// transition: $transitioinSlow;
		cursor: pointer;
		&:hover {
			background: $lightGray;
		}
		&:checked {
			background: $lightBlue;
			border: 1px solid $lightBlue;
		}
		&:focus {
			box-shadow: none;
		}
		&:checked::before {
			opacity: 1;
			color: $offWhite;
		}
		&::before {
			content: "\f00c";
			font-family: "Font Awesome 5 Free";
			font-weight: 600;
			font-size: 0.7rem;
			position: absolute;
			top: 4px;
			left: -7px;
			opacity: 0;
		}
	}
	label {
		margin: 0;
		font-size: 0.8rem;
	}
}
input[type="submit"] {
	background-color: $blue;
	border: 0;
	color: $white;
	cursor: pointer;
	font-weight: 800;
	margin-bottom: 27px;
	transition: $transitionFast;
	box-shadow: 0 5px 10px #b0c5d4;
	&:hover {
		background-color: lighten($blue, 5%);
	}
}

// footer
footer {
	background-color: $lightGray;
	color: $darkGray;
	padding: 1.5em 0;
	flex-shrink: 0;
	.footer-inner {
		display: flex;
		justify-content: space-between;
		p {
			margin: 0;
			font-size: 0.8rem;
			span {
				font-weight: 800;
			}
		}
	}
}

// MEDIA QUERIES
@media screen and(min-width: 1024px) {
	.form-wrapper {
		display: flex;
		max-width: 1000px;
		width: 100%;
		margin: 2em auto 2em;
		padding: 2em;
		border-radius: 6px;
		box-shadow: 0 5px 25px #b0c5d4;
	}
	.form-left {
		flex: 3;
		padding: 2em 5em 2em 3em;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		.perks-box {
			text-align: left;
			i {
				font-size: 0.9rem;
			}
			h2 {
				font-size: 1rem;
				margin-top: 1em;
			}
			p {
				font-size: 0.85rem;
			}
			& + .perks-box {
				margin-top: 40px;
			}
		}
	}
	.form-right {
		flex: 5;
		padding: 2em 5em;
	}
}
