@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font: 1rem/1.5 "Varela Round", sans-serif;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e5ecf1;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

h1,
h2 {
  line-height: 1;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.3rem;
}

p {
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

::-webkit-input-placeholder {
  color: #c9c9c9;
}

::-moz-placeholder {
  color: #c9c9c9;
}

:-ms-input-placeholder {
  color: #c9c9c9;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.form-wrapper {
  background: #fafafa;
  color: #363636;
}

.form-left {
  background: #2b9be2;
  color: #bcdff5;
  padding: 2em;
}

.form-left .perks-box {
  text-align: center;
}

.form-left .perks-box + .perks-box {
  margin-top: 50px;
}

.form-left .perks-box:first-child {
  margin-top: 16px;
}

.form-left .perks-box h2 {
  color: #fafafa;
}

.form-left .perks-box i {
  display: inline-block;
  font-size: 0.9rem;
  background: #55b5f1;
  padding: 0.7em;
  border-radius: 50%;
}

.form-right {
  padding: 2em 1em;
}

.form-right h1 {
  text-align: center;
  margin-bottom: 40px;
}

.input-box {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.input-box + .input-box {
  margin-top: 27px;
}

.input-box input {
  width: 100%;
  height: 46px;
  display: block;
  border: 1px solid #e4e4e4;
  outline: 0;
  border-radius: 6px;
  text-indent: 10px;
  color: #363636;
  font-size: 1rem;
}

.input-box input:focus {
  border-color: #bcdff5;
  -webkit-box-shadow: 0 0 4px #c9c9c9;
          box-shadow: 0 0 4px #c9c9c9;
}

.input-box label {
  display: block;
  margin-bottom: 3px;
  font-size: 0.8rem;
  font-weight: 800;
}

.input-box.input-box__checkbox {
  width: 100%;
  max-width: 450px;
  margin: 30px auto 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-box.input-box__checkbox input {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  outline: 0;
  width: 20px;
  height: 20px;
  position: relative;
  margin-right: 7px;
  cursor: pointer;
}

.input-box.input-box__checkbox input:hover {
  background: #e4e4e4;
}

.input-box.input-box__checkbox input:checked {
  background: #55b5f1;
  border: 1px solid #55b5f1;
}

.input-box.input-box__checkbox input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.input-box.input-box__checkbox input:checked::before {
  opacity: 1;
  color: #fafafa;
}

.input-box.input-box__checkbox input::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 0.7rem;
  position: absolute;
  top: 4px;
  left: -7px;
  opacity: 0;
}

.input-box.input-box__checkbox label {
  margin: 0;
  font-size: 0.8rem;
}

input[type="submit"] {
  background-color: #2b9be2;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-weight: 800;
  margin-bottom: 27px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-shadow: 0 5px 10px #b0c5d4;
          box-shadow: 0 5px 10px #b0c5d4;
}

input[type="submit"]:hover {
  background-color: #41a6e5;
}

footer {
  background-color: #e4e4e4;
  color: #363636;
  padding: 1.5em 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-inner p {
  margin: 0;
  font-size: 0.8rem;
  color: #9c9c9c;
}

footer .footer-inner p span {
  font-weight: 800;
}

footer .footer-inner p:nth-child(2) {
  font-weight: 800;
  color: dimgray;
}

@media screen and (min-width: 1024px) {
  .form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1000px;
    width: 100%;
    margin: 2em auto 2em;
    padding: 2em;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 25px #b0c5d4;
            box-shadow: 0 5px 25px #b0c5d4;
  }
  .form-left {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    padding: 2em 5em 2em 3em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .form-left .perks-box {
    text-align: left;
  }
  .form-left .perks-box i {
    font-size: 0.9rem;
  }
  .form-left .perks-box h2 {
    font-size: 1rem;
    margin-top: 1em;
  }
  .form-left .perks-box p {
    font-size: 0.85rem;
  }
  .form-left .perks-box + .perks-box {
    margin-top: 40px;
  }
  .form-right {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    padding: 2em 5em;
  }
}
/*# sourceMappingURL=style.css.map */